baseURL = 'https://laurenpn.github.io/'
languageCode = 'en-us'
title = 'laurenpn'
theme = "shibui"
[markup]
  [markup.goldmark]
    [markup.goldmark.extensions]
      [markup.goldmark.extensions.passthrough]
        enable = true
        [markup.goldmark.extensions.passthrough.delimiters]
          block = [['$$', '$$']]
          inline = [['$', '$']]
